*{
margin:0px;
padding:0px;
/*font-size:1em;*/
}

body{
  width:96%;
  background-color: #FFFFFF;
  
}

header,footer{
font-family: 'Montserrat', sans-serif;
  border-radius:3px;
  position:relative;
 background-color: #2980B9;
  color:#fff;
margin-top:2%;
  padding:2%;
  
}

header div{ 
  width:30%;
  position:relative;
  display: inline-block;
  padding:0.5%;
  font-size:0.8em;
}
section{
  margin-top:2%;
width: 74%;
display: inline-block;

}

nav{
width: 25%;
display: inline-block;
padding: 0px;
vertical-align: top;
margin-top: 2%;
height: 750px;
text-align: center;
background-color: #efefef;
}
section div{
  margin-top:2%;
}
section p{
  
  padding:1%;
  border-radius:3px;
  
}
.trabajamos{
  position:relative;
  text-align:right;
}
.una_pagina p{
  background-color: #EEEEEE;
font-family: 'Ubuntu', sans-serif;  
/*font-family: Verdana, Arial, Helvetica, sans-serif; */
  
}
.cuando p{
  text-align : justify;
  font-style: italic; 
   background-color: #7980B9;
}


.nuestro p{
   background-color: #5086B9;
}

.si_su p{
  background-color: #8086B9;
  
}
