* {
  margin: 10px;

  padding: 10px;
  /*font-size:1em;*/
}

body {
  width: 96%;
  background-color: #FFFFFF;
  margin-left: 2%;
}

header, footer {
  font-family: 'Montserrat', sans-serif;
  border-radius: 1em;
  position: relative;
  background-color: #2980B9;
  color: #fff;
  margin-top: 2%;
  padding: 2%;
}

header div {
  width: 30%;
  position: relative;
  display: inline-block;
  padding: 0.5%;
  font-size: 0.8em;
}
section {
  margin-top: 2%;
  width: 74%;
  display: inline-block;
}

nav {
  width: 25%;
  display: inline-block;
  padding: 0px;
  vertical-align: top;
  margin-top: 2%;
  /*height: 750px;*/
  text-align: center;
  padding-bottom: 1%;
  background-color: #efefef;
}
.icon icon-lab {
  height: 5%;
}
nav ul li {
  padding: 18.5%;
  margin: 1%;
  margin-left: 5%;
  margin-right: 5%;
  list-style-type: none;

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.1, #151996),
    color-stop(0.5, #0073FF)
  );
  background-image: -o-linear-gradient(top, #151996 10%, #0073FF 50%);
  background-image: -moz-linear-gradient(top, #151996 10%, #0073FF 50%);
  background-image: -webkit-linear-gradient(top, #151996 10%, #0073FF 50%);
  background-image: -ms-linear-gradient(top, #151996 10%, #0073FF 50%);
  background-image: linear-gradient(to top, #151996 10%, #0073FF 50%);

  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  border-radius: 0.75em;

  border-color: rgb(101, 185, 185);
  border-style: groove;
  border-width: 1px;
}
nav ul li a {
  color: #8AC54A;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-variant: small-caps;
  text-decoration: none;

  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
nav ul li a:hover {
  text-align: center;
  color: #ffffff;
  font-size: 1.4em;
  font-weight: bold;
}

nav ul li:hover {
  background-color: #efefef;
  background-image: -webkit-gradient(
    linear,
    right top,
    right top,
    color-stop(0.5, #0073FF),
    color-stop(1, #151996)
  );
  background-image: -o-linear-gradient(right top, #0073FF 50%, #151996 100%);
  background-image: -moz-linear-gradient(right top, #0073FF 50%, #151996 100%);
  background-image: -webkit-linear-gradient(
    right top,
    #0073FF 50%,
    #151996 100%
  );
  background-image: -ms-linear-gradient(right top, #0073FF 50%, #151996 100%);
  background-image: linear-gradient(to right top, #0073FF 50%, #151996 100%);
}

section div {
  margin-top: 2%;
}
section p {
  padding: 1%;
  border-radius: 3px;
}
.trabajamos {
  position: relative;
  text-align: right;
}
.una_pagina p {
  background-color: #EEEEEE;
  font-family: 'Ubuntu', sans-serif;
  /*font-family: Verdana, Arial, Helvetica, sans-serif; */
}
.cuando p {
  text-align: justify;
  font-style: italic;
  background-color: #7980B9;
}

.nuestro p {
  background-color: #5086B9;
}

.si_su p {
  background-color: #8086B9;
}
