@media all and (max-width: 500px) {
  nav, section {
    width: 100%;
  }
  nav ul li {
    padding: 0.5%;
  }
  header div {
    width: 30%;
    position: relative;
    display: block;
    padding: 1.5%;
    font-size: 8px;
  }
}
